.antr {
	background-color: lightgreen;
	border: solid black;
	/* height: 70px; */
	margin: left;	
	padding: 1px;
  /* text-align:center; */	
} 
.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width:300px;
	border: dashed aqua;
	display: inline-block;
	margin: 3px;
  }
  .card1 {
	  border: dashed brown;
  }
  .card2 {
	  border: dashed green;
  }
    .card3 {
	  border: dashed navy;
  }

.card a {
	text-decoration: none;color: black; 
}
.container {
	margin: 20px;
}
.card h3 {
	text-align: center;
	color: rgb(20, 20, 102)
}
  .img1 {
	width:100%;
	}
	.img2 {
		width:400px;
		}
.aust{
	background-color: white;		
}
.pagr {
	background-color: aqua;
	border: dashed green;
	height: 400px;
	width:1075px;
	margin: auto;
	
	padding: 25px;
}
.antraste {
	
	color: navy;
	text-align: left;
	display: inline-block;
}
.apie {
	background-color: white;; 
	color: rgb(11, 11, 12);
	
	display: inline;
	vertical-align: bottom;
	float: right;
}
.apie a {
	text-decoration: none;
}
.data {
	font-size: small;
	color: rgb(250, 205, 151)
}